<!DOCTYPE html>
<html>
<head>
	<title>Erick Kok | Web Developer and Designer</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<nav class="menu">
				<li>
					<a href="#home">Home</a>		
				</li>
				<li>
					<a href="#skills">Skills</a>
				</li>
				<li>
					<a href="#work">Work experience</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</nav>
		</div>

	<section id="home"><h1>Hi! I'm Erick</h1>
		<h2>Front-End Developer and Web designer living in the Netherlands</h2>
	</section>

<hr>

	<section id="skills">
		<p>bla</p>
	</section>

<hr>

	<section id="work">
		<p>blabla</p>
	</section>

<hr>

	<section id="about">
		
	</section>

<hr>

	<section id="contact">
		
	</section>
			
		
	
	</div>
</body>
</html>